@import 'src/shared/ui/palette';

.commissionBlock {
  grid-column: auto / span 8;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-top: 24px;
}

.commissionTitle {
  font-weight: 700;
  margin-bottom: 6px;
}

.commissionWrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: dense;
  gap: 6px;

  div {
    grid-column: auto / span 3;

    &:nth-child(even) {
      font-weight: 600;
    }
  }
}
