@import 'src/shared/ui/palette';

.root {
  display: flex;
  justify-content: center;
  background-color: $paper-neutral;
  border-top: 1px solid $paper-border;

  color: $grey;
  font-size: 14px;
  line-height: 22px;

  padding-top: 24px;
  padding-bottom: 32px;
  padding-left: 38px;
  padding-right: 38px;

  @media (min-width: 1024px) {
    padding-top: 48px;
    padding-bottom: 80px;
    padding-left: 128px;
    padding-right: 128px;
  }
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 24px;
  column-gap: 42px;

  @media (min-width: 768px) {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    row-gap: 24px;
    column-gap: initial;
  }
}

.links {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  grid-column: span 2;

  @media (min-width: 512px) {
    justify-content: center;
  }

  @media (min-width: 768px) {
    grid-column: auto;
  }

  a {
    color: $link-color;
    opacity: 0.6;
    padding: 0 10px;

    &:hover {
      opacity: 1;
    }
  }
}

.logo {
  order: 1;

  @media (min-width: 768px) {
    order: initial;
  }

  .roketo {
    height: 24px;
    color: $light-black;
  }
}

.socials {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  order: 2;

  @media (min-width: 512px) {
    justify-content: end;
  }

  @media (min-width: 768px) {
    order: initial;
  }

  a {
    width: 24px;
    height: 24px;

    color: $icon-color;

    &:hover {
      color: $light-black;
    }
  }
}

.build {
  display: flex;
  order: 3;
  grid-column: span 2;
  justify-content: flex-start;

  @media (min-width: 768px) {
    grid-column: span 3;
    justify-content: center;
  }
}
