@import 'src/shared/ui/palette';

.wrapper {
  display: flex;
  width: 100%;

  gap: 20px;
  position: relative;
}

.durationInput {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.clearBtn {
  position: absolute;
  top: calc(50% - 3px);
  right: 15px;
  transform: translate(0, -50%);
  cursor: pointer;

  &:hover svg {
    fill: $light-black;
  }

  &:focus svg {
    fill: $input-focus;
  }

  svg {
    fill: $bluish-grey;
    transition: fill 0.2s ease-in-out;
  }
}

.input {
  margin-bottom: 6px;
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: $bluish-grey;
}

/* Extra small - xs */
@media (max-width: 767px) {
  .wrapper {
    gap: 5px;
  }
}
