@import 'src/shared/ui/palette';

.dropdownWrapper {
  position: relative;
  width: 100%;
}

.dropdownOpener {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $white;
  border: 1px solid $input-blue;

  border-radius: 8px;
  height: 50px;

  .tokenOption .tokenBalance {
    display: none;
  }
}

.tokenOption {
  display: flex;
  align-items: flex-start;
  width: 100%;

  font-weight: 500;
  font-size: 16px;
  line-height: 32px;

  & > :not(:last-child) {
    margin-right: 6px;
  }
}

.withHover {
  &:hover {
    background-color: #fbfcff;
  }
}

.dropdownMenu {
  gap: 12px;
  margin-top: 8px;
  position: absolute;

  right: 50%;
  transform: translateX(50%);
}

.tokenWrap {
  margin-left: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tokenBalance {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: $grey;
}

.tokenActive {
  color: $input-highlight;
}
