@import 'src/shared/ui/palette';

.progressBar {
  width: 100%;

  height: 8px;
  background-color: $light-grey;
  border-radius: 12px;

  position: relative;
}

.streamed {
  background-color: $purple;
}

.progress {
  position: absolute;
  border-radius: 12px;

  height: 100%;
  width: 0;

  transition: width 2s;

  top: 0;
  left: 0;
}

.withdrawn {
  background-color: $orange;
  cursor: help;
}

.cliffMarkContainer {
  position: absolute;
  top: calc(50% + 1px);
  transform: translate(-50%, -50%);
  padding: 10px;
  height: calc(100% + 20px);
}

.cliffMark {
  background-color: $light-black;

  height: calc(100% - 2px);
  width: 2px;

  &Big {
    width: 4px;
  }

  &Passed {
    background-color: $tertiary;
  }
}
