@import 'src/shared/ui/palette';

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  min-width: 100%;

  background-color: $white;
  filter: drop-shadow(2px 2px 17px rgba(138, 150, 168, 0.12)) drop-shadow(-2px -3px 21px rgba(138, 150, 168, 0.12));

  border-radius: 16px;
  padding: 16px;

  z-index: 2;

  & > :not(:last-child) {
    margin-bottom: 12px;
  }
}

.menuDivider {
  border: 1px solid #EEEEEE;
}

.hidden {
  display: none;
}
