@import 'src/shared/ui/palette';

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  overflow: auto;
  padding: 5vh 0;
  flex-direction: column;

  inset: 0;

  background-color: rgba(0, 0, 0, 0.4);

  z-index: 1000;
}

.bodyOverflowHidden {
  overflow: hidden;
}

.content {
  position: relative;
  min-width: 500px;

  max-width: 95%;
  max-height: 90%;
  overflow: auto;

  padding: 32px;
  border-radius: 12px;

  background-color: $white;
  outline-color: $white;
  color: $light-black;
}

.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}

.close {
  cursor:pointer;

  position: absolute;

  top: 32px;
  right: 32px;

  width: 18px;
  height: 18px;

  transition: 100ms ease;

  &:after, &:before {
    content: "";

    position: absolute;
    top: 50%;

    height: 2px;
    width: 100%;

    background: $bluish-grey;

    border-radius: 40px;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg)
  }

  &:hover {
    &:after, &:before {
      background-color: $light-black;
    }
  }
}

/* Extra small - xs */
@media (max-width: 767px) {
  .content {
    min-width: auto;
  }
}
