{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "jsx-a11y/label-has-associated-control": "off",
    "react/require-default-props": "off",
    "react/react-in-jsx-scope": "off",
    "import/no-extraneous-dependencies": "warn",
    "react/function-component-definition": "off",
    "react/no-unescaped-entities": "warn",
    "import/prefer-default-export": "off",
    "class-methods-use-this": "warn",
    "react/prop-types": "warn",
    "react/jsx-props-no-spreading": "warn",
    "no-nested-ternary": "warn",
    "no-underscore-dangle": "warn",
    "consistent-return": "warn"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true, // always try to resolve types under `<root>@types` directory even it doesn't contain any source code, like `@types/unist`
        "project": "./tsconfig.json"
      }
    }
  }
}
