{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "arrowParens": "always",
  "bracketSpacing": false,
  "printWidth": 100,
  "endOfLine": "lf",
  "importOrder": [
    "~/",
    "^~/pages/",
    "^~/features/",
    "^~/entities/",
    "^~/shared/",
    "^@ui/",
    "^[./]"
  ],
  "importOrderSeparation": true
}
