$white: #FFFFFF;
$blue: #3E65F2;
$purple: #5A45FB;
$orange: #FF8C19;
$light-black: #2B313B;
$light-grey: #F1F2F4;

$themeColours: (
  "white": $white,
  "blue": $blue,
  "purple": $purple,
  "orange": $orange,
);
