@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body > #root > div {
  min-height: 100vh;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
