@tailwind base;
@tailwind components;
@tailwind utilities;
@import './ReactModal.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import './burger-menu.scss';
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > #root > div {
  min-height: 100vh;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
