@import 'src/shared/ui/palette';

.root {
  margin: auto;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 8px;
}

.hint {
  color: $bluish-grey;
  font-size: 12px;
  line-height: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $light-black;
  gap: 24px;
  text-align: center;
}

@media (max-width: 767px) {
  .root {
    width: 100%;
  }

  .content {
    gap: 16px;
  }
}
