@import 'src/shared/ui/palette';

.wrapper {
  display: flex;
  width: 100%;

  gap: 20px;
}

.speedInput {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input {
  margin-bottom: 6px;
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: $bluish-grey;
}

.formLabel {
  position: relative;
}

.formField {
  & > :first-child {
    width: 100%;
  }
}

.speed {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);

  width: max-content;
}

/* Extra small - xs */
@media (max-width: 767px) {
  .wrapper {
    gap: 5px;
  }
}
