@import 'src/shared/ui/palette';

.wrapper {
  display: flex;
  width: 100%;

  & > :not(:last-child) {
    margin-right: 20px;
  }
}

.speedInput {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input {
  margin-bottom: 6px;
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: $bluish-grey;
}

.formLabel {
  position: relative;
}

.speed {
  position: absolute;
  top: 0;
  left: 100%;

  margin-left: 15px;
  width: max-content;
}
