@import 'src/shared/ui/palette';

.card {
  display: flex;
  flex-direction: column;
  
  min-width: 200px;
  margin-bottom: 28px;
}

.title {
  color: $bluish-grey;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.finance {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}
