.breadbrumbs {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.parentLink {
  padding: 15px;
  margin: -15px 0 -15px -15px;
}

.breadbrumb {
  margin-right: 15px;
  flex-shrink: 0;
}

.currentPage {
  text-overflow: ellipsis;
  overflow: hidden;
}
