@import 'src/shared/ui/palette/index';

.root {
  position: relative;
}

.dropdownOpener {
  background-color: unset;
  padding: 10px;
}

.panel {
  padding: 0;
  width: min(550px, 100vw - 30px);
  flex-direction: row;

  border-radius: 16px;
  overflow: hidden;
}

.dropdownPanel {
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  border: 1px solid $tertiary;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: min(100vh - 150px, 70vh);
  overflow-x: hidden;
  overflow-y: overlay;

  &::-webkit-scrollbar {
    width: 4px;
    display: block;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #d8d8d8;
  }
}

.loader {
  width: 100%;
  min-height: 100px;
}

.notification {
  --icon-width: 44px;
  padding: 24px 16px 12px 16px;
  position: relative;
  display: grid;
  grid-template-columns: var(--icon-width) 1fr;
  column-gap: 16px;
  background-color: white;
  &:hover {
    background-color: #f1f2f3;
  }
  &:not(:last-of-type) {
    border-bottom: 1px solid #eee;
  }
}

.unread {
  background-color: #f0f6ff;
}

.icon {
  grid-row: 1 / span 4;
  grid-column: 1;
  width: var(--icon-width);
}

.primaryText {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 8px;
  word-break: break-word;
  grid-column: 2;
  color: #000;
}

.blue {
  color: $blue;
  font-weight: 700;
}

.secondaryText {
  font-size: 14px;
  line-height: 20px;
  color: $bluish-grey;
  grid-column: 2;
}

.time {
  color: $bluish-grey;
  font-size: 14px;
  line-height: 20px;
  padding-top: 6px;
  grid-column: 2;
}

/* Phone, landscape */
@media (max-width: 767px) {
  .notification {
    --icon-width: 36px;
    padding-bottom: 16px;
    column-gap: 12px;
  }
  .container {
    max-height: min(100vh - 100px, 80vh);
  }
}
