@import 'src/shared/ui/palette';
@import 'src/shared/ui/components/Layout/styles.module';

.wrapper {
  border-bottom: 1px solid $light-grey;
  background-color: $white;
}

.root {
  height: calc($header-height - 1px);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 40px;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;

  & > :not(:last-child) {
    margin-right: 32px;
  }
}

