@import 'src/shared/ui/palette';

.wrapper {
  border-bottom: 1px solid $light-grey;
  background-color: $white;

  z-index: 10;

  position: sticky;
  top: 0;
}

.legacyStreamsBar {
  background-color: #fef7f1;
  display: flex;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  align-items: center;
}

@media (max-width: 1024px) {
  .legacyStreamsBar {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.warningIcon {
  margin-right: 12px;
}

.tabName {
  color: $blue;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.root {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.unshrinkable {
  flex-shrink: 0;
}

.logo {
  margin-right: 40px;
  width: 85px;
}

.left {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.right {
  display: flex;
  align-items: center;
  min-width: 0;
  margin-left: auto;
}

.marginRight {
  margin-right: 32px;
  padding: 10px 0;
}

.secondRoot {
  @extend .root;
  flex-wrap: wrap-reverse;
  height: unset;
}
