@import 'src/shared/ui/kit/palette';

.name {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  margin-right: 6px;

  &Label {
    color: $blue;
    background-color: $light-blue;

    font-size: 12px;
    line-height: 15px;
    padding: 4px 6px;

    border-radius: 6px;
  }
}
