@import 'src/shared/ui/palette';

.flexCenter {
  display: flex;
  align-items: center;
  overflow: hidden;

  :not(:last-child) {
    margin-right: 6px;
  }
}

.name {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
