@import 'src/shared/ui/palette';

.root {
  cursor: pointer;

  transition: background-color 500ms;
}

.primary {
  background-color: $light-blue;
  color: $blue;

  padding: 8px 12px;
  border-radius: 6px;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.action {
  background-color: $blue;
  color: $white;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  padding: 12px 20px;
  border-radius: 12px;
}
