@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/ReactModal.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import './styles/burgerMenu.scss';
@import './styles/table.scss';

html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > #root {
  min-height: 100vh;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.navbar-brand > img {
  height: 2em;
  margin-right: 0.5em;
}
