@import 'src/shared/ui/palette';

.input {
  width: 100%;

  outline: 1px solid transparent;

  border: 1px solid $input-blue;
  padding: 12px 18px;
  border-radius: 8px;
  background-color: $white;

  color: $light-black;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.error {
  border-color: $danger;
}
