@import 'src/shared/ui/palette';

.root {
  display: flex;
  align-items: flex-start;

  & > :not(:last-child) {
    margin-right: 12px;
  }
}

.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: $light-black;
}

.checkbox {
  width: 20px;
  height: 20px;

  border: 1px solid $grey;
  background-color: $white;

  outline: 1px solid transparent;
}

.error {
  border-color: $danger;
}
