@import 'src/shared/ui/palette';

.root {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  user-select: none;

  & > :not(:last-child) {
    margin-right: 12px;
  }

  & input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      & + .description {
        &::before {
          border-color: $input-blue;
          background-color: $input-blue;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 10'%3e%3cpath fill='white' d='M13.5893 2.25608C13.9147 1.93065 13.9147 1.40301 13.5893 1.07757C13.2638 0.752137 12.7362 0.752137 12.4107 1.07757L5.5 7.98832L1.92259 4.41091C1.59715 4.08547 1.06951 4.08547 0.744078 4.41091C0.418641 4.73634 0.418641 5.26398 0.744078 5.58942L4.91074 9.75608C5.23618 10.0815 5.76382 10.0815 6.08926 9.75608L13.5893 2.25608Z'/%3e%3c/svg%3e");
        }
      }
    }
  }
}

.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: $light-black;

  display: inline-flex;
  align-items: center;

  &::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $input-blue;
    border-radius: 4px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
  }
}

.error {
  border-color: $danger;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
