@import 'src/shared/ui/palette';

:global(.rc-tooltip) {
  background-color: transparent !important;
}

.defaultOverlay {
  border-radius: 0 !important;
  padding: 0 !important;
  opacity: 1;

  &:global(.rc-tooltip-placement-bottom) :global(.rc-tooltip-arrow) {
    border-bottom-color: white;
    border-width: 0 8px 8px;
  }

  &:global(.rc-tooltip-placement-top) :global(.rc-tooltip-arrow) {
    border-bottom-color: white;
    border-width: 0 8px 8px;  }

  &:global(.rc-tooltip-placement-left) :global(.rc-tooltip-arrow) {
    border-bottom-color: white;
    border-width: 0 8px 8px;  }

  &:global(.rc-tooltip-placement-right) :global(.rc-tooltip-arrow) {
    border-bottom-color: white;
    border-width: 0 8px 8px;
  }

  :global(.rc-tooltip-inner) {
    min-width: 170px !important;
    max-width: 260px !important;
    border-radius: 10px !important;
    padding: 24px !important;
    background-color: white !important;
    color: $light-black !important;
    border: 0 !important;
    font-size: 13px !important;
    font-weight: normal !important;
    line-height: 16px !important;
    text-align: center !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    border: none;
    z-index: 1;
  }
}

.defaultIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 6px;
  width: 20px;
  height: 20px;
  font-weight: 600;
  border: 1px solid;
}
