@import 'src/shared/ui/palette';

.layout {
  color: $light-black;

  flex-grow: 1;
  padding: 24px 56px 28px 56px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  row-gap: 30px;
  column-gap: 40px;
}

.streamListBlock {
  grid-column: 1 / span 3;
}

.streamFilters {
  grid-column: 1 / span 3;
}

.shadowCard {
  display: grid;
  padding: 24px 32px 32px;
  gap: 12px;

  box-shadow: 0px 5px 20px rgba(87, 140, 219, 0.25);
  border-radius: 24px;
}

.sendingReceivingStatus {
  grid-column: 1 / span 2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
}

.withdrawalStatus {
  grid-column: 3;
  grid-template-rows: max-content max-content;
}

.infoCard {
  display: flex;
  flex-direction: column;
}

.infoTitle {
  color: $bluish-grey;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.sendingCard {
  grid-column: 1;
  grid-row: 1;
}

.receivingCard {
  grid-column: 2;
  grid-row: 1;
}

.createStreamButton {
  grid-column: 1;
  grid-row: 2;
}

.finance {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

.financeLarge {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
}

.button {
  padding: 12px 20px;
  color: #496ef3;
  background: #f0f6ff;
  border-radius: 24px;
  border-color: #f0f6ff;
  align-self: end;
}

.progressBar {
  margin-top: 12px;
}

/* Phone */
@media (max-width: 767px) {
  .layout {
    grid-template-columns: 1fr;
    padding: 24px 8px 28px 8px;
  }
  .sendingReceivingStatus {
    grid-column: 1 / span 1;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
  }
  .receivingCard {
    grid-column: 1;
    grid-row: 2;
  }
  .createStreamButton {
    grid-column: 1;
    grid-row: 3;
  }
  .withdrawalStatus {
    grid-column: 1 / span 1;
  }
  .streamFilters {
    grid-column: 1 / span 1;
    display: none;
  }
  .streamListBlock {
    grid-column: 1 / span 1;
  }
}
