@import 'src/shared/ui/palette';

.root {
  color: $light-black;

  flex-grow: 1;
  padding-bottom: 28px;
}

.section {
  margin-bottom: 28px;
}

.flex {
  display: flex;
  align-items: center;
}

.header {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.buttonsWrapper {
  padding-top: 28px;
  & > :not(:last-child) {
    margin-right: 16px;
  }
}

.pageTitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  padding-top: 28px;
  padding-right: 16px;
}

.streamFilters {
  margin-bottom: 25px;
}

.financialStatus {
  display: flex;
  flex-wrap: wrap;

  & > :not(:last-child) {
    margin-right: 65px;
  }
}

.infoCard {
  display: flex;
  flex-direction: column;

  min-width: 200px;
  margin-bottom: 28px;
}

.infoTitle {
  color: $bluish-grey;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.finance {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}
