@import 'src/shared/ui/palette';

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  gap: 8px;
  &:not(:last-of-type) {
    margin-right: 16px;
  }
}

.root[disabled] {
  background-color: $light-grey;
  border-color: $light-grey;
  cursor: not-allowed;
}

.logo {
  width: 24px;
}

.name {
  max-width: 200px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  display: inline-block;
}

/* Phone, portrait */
@media (max-width: 575px) {
  .name {
    font-size: 16px;
  }
}

.logoutButton {
  padding: 10px;
  margin-right: -10px;
}
