.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.root:not(:last-of-type) {
  margin-bottom: 16px;
}

.logo {
  width: 24px;
}

.name {
  max-width: 200px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}

/* Phone, portrait */
@media (max-width: 575px) {
  .name {
    font-size: 16px;
  }
}

.logoutButton {
  padding: 10px;
  margin-right: -10px;
}
