.root {
  display: flex;
  align-items: center;
}

.profile {
  position: relative;
}

.dropdownOpener {
  background-color: unset;
  padding: 0 10px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-right: 12px;
}

.avatar {
  width: 40px;
  height: 40px;

  border-radius: 50%;
}

.dropdownMenu {
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  padding: 0;
}

.logoutButton {
  padding: 10px;
  margin-left: 12px;
}
