.navbar-brand > img {
  height: 2em;
  margin-right: 0.5em;
}

html {
  height: 100%;
}

body > #root > div {
  min-height: 100vh;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
