@import 'src/shared/ui/palette';

.root {
  display: flex;

  min-width: 1000px;

  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;

  margin-bottom: 16px;
}

.description {
  font-size: 16px;
  line-height: 24px;

  margin-bottom: 25px;
}

.form {
  display: flex;
  flex-direction: column;

  & > :not(:last-child) {
    margin-bottom: 32px;
  }
}

.row {
  display: flex;

  justify-content: space-around;

  gap: 25px;

  &Item {
    flex: 1;
  }
}

.checkboxes {
  justify-content: flex-start;
  gap: 50px;
}

@media (max-width: 767px) {
  .checkboxes {
    flex-direction: column;
  }
}
.submitError {
  display: flex;

  align-items: center;

  span {
    color: $danger;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    margin-left: 8px;
  }
}

.actionButtonsWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 20px;
}

.feeDisclaimer {
  color: $bluish-grey;

  text-align: left;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  &Row {
    justify-content: flex-start;
  }
}

/* Medium size */
@media (max-width: 1199px) {
  .root {
    min-width: auto;
  }
}

/* Small - sm */
@media (max-width: 991px) {
  .amount {
    flex-direction: column;

    gap: 15px;
  }

  .actionButtonsWrapper {
    justify-content: center;
  }
}

/* Extra small - xs */
@media (max-width: 767px) {
}

.subDescription {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $bluish-grey;
}
