@import 'src/shared/ui/palette';

.root {
  display: flex;

  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;

  margin-bottom: 24px;
}

.tabs {
  width: 100%;
  margin-bottom: 24px;
  border-bottom: 1px solid #e9ebf0;
}

.tabsButton {
  padding: 8px 20px;
  color: #8a96a8;

  &.isActive {
    color: $light-black;
    border-bottom: 3px solid $light-black;
  }
}

/* Laptop */
@media (max-width: 1199px) {
  .root {
    min-width: auto;
  }
}
