@import 'src/shared/ui/palette';

.root {
  display: flex;
  justify-content: flex-end;

  & > :not(:last-child) {
    margin-right: 16px;
  }
}

.linkButton {
  padding: 8px 12px;

  border-radius: 6px;

  &:hover {
    background-color: #F1F2F4;
  }
}
