@import 'src/shared/ui/palette';

.colorDot {
  margin-right: 3px;
}

.root {
  border-top: 1px solid $light-grey;
  align-items: center;

  &:hover {
    .controls {
      visibility: visible;
    }
  }
}

.name {
  align-self: stretch;
  display: flex;
  overflow: hidden;
  &:hover {
    background-color: #fbfcff;
  }
}

.comment {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  // TODO: move to UI-kit mixins
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.controls {
  visibility: visible;
}

.withMarginRight {
  margin-right: 30px;
}

.nameBlock {
  display: flex;
  align-items: center;
  overflow: hidden;

  :not(:last-child) {
    margin-right: 6px;
  }
}

.nameText {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.controlBlock {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & > :not(:last-child) {
    margin-right: 16px;
  }
}

.streamLinkButton {
  padding: 8px 12px;

  border-radius: 6px;

  &:hover {
    background-color: $background-secondary;
  }
}
