@import 'src/shared/ui/palette';

.root {
  display: grid;
  grid-auto-flow: dense;
  gap: 8px;
  grid-template-columns: repeat(4, max-content);
}

.sortWithOrder {
  display: flex;
  align-items: center;

  & > :not(:last-child) {
    margin-right: 6px;
  }
}

.textFilter {
  grid-row: 1;
  grid-column: 2;
  min-width: 48px;
  height: 48px;
  border-radius: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &.withInput {
    grid-row: 2;
    grid-column: 2 / span 2;

    & .textFilterMagnifier {
      background-color: unset;
    }
    & .textFilterInput {
      visibility: visible;
      border: 1px solid #a0c2f8;
      cursor: unset;
      width: -webkit-fill-available;
    }
  }

  .textFilterMagnifier {
    background-color: #f0f6ff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px;
    width: 48px;
    height: 100%;
    border-radius: 24px;
  }

  .textFilterInput {
    cursor: pointer;
    border-radius: 24px;
    height: 100%;
    width: 48px;
    padding-left: 40px;
    visibility: hidden;
  }

  .textFilterClear {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px;
    width: 48px;
    height: 100%;
    cursor: pointer;
    visibility: hidden;
  }

  .textFilterInput:not(:placeholder-shown) + .textFilterClear {
    visibility: visible;
  }
}

.statusBlock {
  grid-column: 3 / span 1;
}

.sortBlock {
  grid-column: 4 / span 1;
}

.directionSorts {
  grid-column: 1 / span 1;
  display: flex;
}

.directionSort {
  border-radius: 24px;
  padding: 12px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: $grey;
  background: transparent;
  border: 1px solid transparent;
  transition: color 100ms ease-in, background-color 100ms ease-out;

  &[disabled] {
    cursor: not-allowed;
  }
  &:not([disabled]):hover {
    color: #2b313b;
  }
}

.directionActive:not([disabled]) {
  background-color: #f0f6ff;
  color: #2b313b;
  cursor: unset;
}

.filterControl {
  background: #f0f6ff;
  border-radius: 24px;
  padding: 12px 19px;
}
