@import 'src/shared/ui/palette';

.root {
  display: flex;

  & > :not(:last-child) {
    margin-right: 12px;
  }
}

.sort {
  padding: 12px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: $grey;
  background-color: transparent;
}

.active {

  background-color: $light-blue;
  color: $blue;
}
