@import 'src/shared/ui/palette';

.container {
  --progress-bar-height: 28px;
  display: flex;
  flex-direction: column-reverse;
  overflow-x: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
}

.streamGrid {
  max-width: 1280px;
  display: grid;
  grid-template-columns:
    [color-column] 4px
    [status-column] 48px
    [bar-column] 200px
    [address-column] minmax(min-content, 1fr)
    [comment-column] max-content
    [control-column] 150px;
  grid-auto-rows: 48px;
  grid-template-rows: 30px;
}

@media (max-width: 1024px) {
  .container {
    width: calc(100% + 16px);
    margin-right: -16px;
  }
}

.leftStickyCell {
  background-color: #fdfdfd;
  position: sticky;
  left: 52px;
  height: 100%;
  justify-content: center;
  &:first-of-type {
    left: 0;
  }
}

.title {
  color: #8a96a8;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  grid-row: 1;
  grid-column: span 1;
  padding-left: 12px;
  &:first-of-type {
    grid-column: span 3;
    padding-left: 28px;
  }
}

.emptyState {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 100px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  & > :not(:last-child) {
    margin-bottom: 32px;
  }
}

.loader {
  width: 100%;

  height: 200px;
}

.colorCell {
  grid-column: color-column;
  width: 4px;
  height: 100%;
  position: sticky;
  left: 0;
  background-color: var(--stream-color, transparent);
}

.statusCell {
  grid-column: status-column;
  position: sticky;
  left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressCell {
  grid-column: bar-column;
}

.nameCell {
  grid-column: address-column;
  display: flex;
  align-self: stretch;
  align-items: center;
  overflow: hidden;
}

.commentCell {
  grid-column: comment-column;
  display: flex;
  align-items: center;
}

.controlCell {
  grid-column: control-column;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  /** Open tooltip to top for last 5 controlCells
   *  Giving that there is 6 columns,
   *  last affected cell will have n = 30
   */
  &:nth-last-child(6n + 1):nth-last-child(-n + 30) {
    .controlDropdown {
      margin-top: unset;
      margin-bottom: 6px;
      bottom: 100%;
    }
  }
}

.statusCell,
.progressCell,
.nameCell,
.commentCell,
.controlCell {
  border-top: 1px solid #a0c2f880;
}

.nameCell,
.commentCell,
.controlCell {
  padding-left: 12px;
}

.commentBlock {
  max-width: 300px;

  font-weight: 500;
  font-size: 14px;

  // TODO: move to UI-kit mixins
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.nameText {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.streamLinkButton {
  padding: 8px 12px;

  border-radius: 6px;

  &:hover {
    background-color: $background-secondary;
  }
}

.streamActionsButton {
  padding: 8px 8px;
  border-radius: 6px;
  margin-right: 40px;

  &:hover {
    background-color: $background-secondary;
  }
}

.streamActionsIcon {
  width: 20px;
  height: 20px;
}

.streamStatusIcon {
  width: 28px;
  height: 28px;
}
