@import 'src/shared/ui/palette';

.root {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.status {
  position: relative;
  left: 12px;
  line-height: 26px;
  font-weight: 500;
  font-size: 16px;
}

.overlay {
  background-color: unset;
  opacity: 1;

  :global(.rc-tooltip-inner) {
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }

  :global(.rc-tooltip-arrow) {
    border-bottom-color: white;
    z-index: 2;
    top: -7px;
    border-width: 0 8px 8px;
    left: 16px;
  }
}

.tooltip {
  width: 285px;
}

.extendedInfo {
  padding: 8px 6px;
}

.innerStatus {
  margin-bottom: 6px;
}

.subtext {
  font-size: 12px;
  color: $grey;
}

.speed {
  margin-top: 16px;
  margin-bottom: 12px;
}

.remaining {
  display: flex;
  margin-bottom: 12px;
}

.clock {
  margin-top: 2px;
  margin-right: 8px;
}

.progress:not(:last-child) {
  margin-bottom: 12px;
}

.streamed::before {
  background-color: $purple;
}

.withdrawn::before {
  background-color: $orange;
}

.streamed::before,
.withdrawn::before {
  content: '';
  width: 5px;
  display: inline-block;
  height: 5px;
  border-radius: 50%;
  margin-right: 6px;
  margin-bottom: 2px;
}

.streamName {
  display: none;
}

.tokenSymbol {
  color: $grey;
}

.progressStatus {
  display: contents;
}

/* Phone */
@media (max-width: 767px) {
  .root {
    cursor: pointer;
  }
  .status {
    display: flex;
    width: calc(100% - 24px);
  }
  .streamName {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: 30%;
    flex-grow: 2;
    flex-shrink: 0;
  }
  .progressStatus {
    display: inline-flex;
    flex-basis: 30%;
    flex-grow: 2;
    justify-content: end;
    flex-shrink: 1;
    align-items: baseline;
    gap: 4px;
    white-space: nowrap;
  }
}
