@import 'src/shared/ui/palette';

.root {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.status {
  position: relative;
  left: 12px;
  line-height: 26px;
  /* width: 100%; */
  font-weight: 500;
  font-size: 16px;
}

.grey {
  color: $grey;
}
.overlay {
  background-color: unset;
  opacity: 1;

  :global(.rc-tooltip-inner) {
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }

  :global(.rc-tooltip-arrow) {
    border-bottom-color: white;
    z-index: 2;
    top: -7px;
    border-width: 0 8px 8px;
    left: 16px;
  }
}

.tooltip {
  padding: 8px 6px;
  width: 285px;
}

.innerStatus {
  margin-bottom: 6px;
}

.smaller {
  font-size: 12px;
}

.speed {
  margin-top: 16px;
  margin-bottom: 12px;
}

.remained {
  display: flex;
  margin-bottom: 12px;
}

.clock {
  margin-top: 2px;
  margin-right: 8px;
}

.progress:not(:last-child) {
  margin-bottom: 12px;
}

.streamed::before {
  background-color: $purple;
}

.withdrawn::before {
  background-color: $orange;
}

.streamed::before,
.withdrawn::before {
  content: '';
  width: 5px;
  display: inline-block;
  height: 5px;
  border-radius: 50%;
  margin-right: 6px;
  margin-bottom: 2px;
}

.streamName {
  display: none;
}

.tokenSymbol {
  color: $grey;
}

.progressStatus {
  display: contents;
}

/* Phone */
@media (max-width: 767px) {
  .streamName {
    display: inline-block;
    position: relative;
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .progressStatus {
    display: inline-block;
    position: absolute;
    max-width: 70%;
    right: 0;
    top: 0;
    padding-right: 24px;
  }
}
