$white: #FFFFFF;
$blue: #3E65F2;
$light-blue: #F1F6FE;
$purple: #5A45FB;

$orange: #FF8C19;
$light-orange: #FFF7F0;

$light-black: #2B313B;
$light-grey: #E6E8EA;
$bluish-grey: #626F84;
$grey: #A7B0BE;

$green: #1EBA52;
$Surface-success: #EEFFF4;

$red: #D80A1F;
$light-red: #FEF0F1;

$themeColours: (
  "white": $white,
  "blue": $blue,
  "purple": $purple,
  "orange": $orange,
);
