$white: #ffffff;
$blue: #3e65f2;
$light-blue: #f1f6fe;
$purple: #5a45fb;
$background-secondary: #f1f2f4;
$orange: #ff8c19;

$light-black: #2b313b;
$light-grey: #e6e8ea;
$bluish-grey: #626f84;
$grey: #a7b0be;
$tertiary: #e2e5e9;

$danger: #d80a1f;
$light-red: #fef0f1;

$paper-neutral: #fbfbfd;
$paper-border: #e9ebf0;
$icon-color: #5e606f;
$link-color: #1f3e4f;

$themeColours: (
  'white': $white,
  'blue': $blue,
  'purple': $purple,
  'orange': $orange,
);
